@font-face {
    font-family: 'Yekan';
    src: url('Yekan.eot');
    src: url('Yekan.eot?#iefix') format('embedded-opentype'),
         url('Yekan.woff2') format('woff2'),
         url('Yekan.woff') format('woff'),
         url('Yekan.otf') format('opentype'),
         url('Yekan.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.containerhanlder1{
    display: flex;
    width: 100%;
    height: 100%;
}

.firstDiv{
    display: flex;
    width: 100%;
    height: 100%;
    background: rgb(8, 7, 14,0.6);
    justify-content: flex-end;
}

.firstDiv .neveshtehandler{
    display: flex;
    flex-direction: column;
    width: 60%;
    height: 100%;
    direction: rtl;
    box-sizing: border-box;
    justify-self: right;
    text-align: justify;
    justify-content: center;
    align-items: center;
    padding: 50px;
    font-weight: bold;
    color: rgb(226, 209, 209);
}

.firstDiv .neveshtehandler p:nth-child(1){
    display: flex;
    font-size: 35px;
    opacity: 0;
    transform: rotateX(40deg);
    margin: 0;
    align-self: flex-start;
    transition: 600ms;
}

.firstDiv .neveshtehandler p:nth-child(2){
    transform: rotateX(40deg);
    opacity: 0;
    font-size: 17px;
    transition: 600ms;
}



.playButton{
    /* box-sizing: border-box; */
    display: flex;
    color: red;
    width: 100px;
    align-self: baseline;
    margin-top: 10px;
    justify-content: center;
    background-color: transparent;
    outline: 1px solid red;
    border: none;
    /* font-family: 'Yekan', sans-serif; */
    font-weight: bold;
    font-size: 17px;
    cursor: pointer;
    /* border-radius: 15px; */
    transition: 400ms;
    transform: scale(0);
}

.playButton:hover{
    transform: scale(0.9);
    background-color: red;
    outline: 0px ;
    /* color: white; */
    color: rgb(254,254,254);
    border: none;
    /* border-radius: 11px; */
}


.game-link{
    color: red;
    transition: 400ms;
}

.playButton:hover .game-link{
    color: rgb(254,254,254);
}

.mafiapiccontainer{
    display: flex;
    width: 40%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.mafiapic{
    position: relative;
    display: flex;
    /* width: 500px; */
    width: 360px;
    height: 360px;
    /* aspect-ratio: 1/1; */
    background-image: url("/photos/mafiapic1.png");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    /* transform: translateX(-100px); */
    opacity: 0;
    transition: 700ms;
}


.tozihDiv{
    display: flex;
    /* display: grid; */
    /* grid-template-columns: repeat(auto-fit, minmax(15rem,1fr)); */
    /* grid-auto-rows: 100px; */
    width: 100%;
    /* height: 400px; */
    height: 50%;
    background-color: rgba(1, 0, 2, 0.6);
    justify-content: space-around;
    align-items: center;
}

.ezafTozih{
    position: relative;
    display: flex;
    width: 100%;
    background-color: rgba(1, 0, 2, 0.6);
    justify-content: space-between;
    align-items: center; 
    padding: 120px;
}

.aksezfe{
    display: flex;
    width: 20%;
    /* height: 500px; */
    aspect-ratio: 9/16;
    background-color: red;
    outline: 2px solid white;
    border-radius: 15px;
    transform: perspective(700px) rotateX(5deg) rotateY(30deg);
}

.aksezfe::after{
    content: "";
    width: 100%;
    height: 100%;
    background-image: url("/photos/adamak.png");
    background-position: 30px 50%;
    background-size: contain;
    background-repeat: no-repeat;
    /* transform: translate3d(12px, -32px, -235px); */
}

.neveshteezafe{
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 100px;
    direction: rtl;
    box-sizing: border-box;
    justify-self: right;
    text-align: justify;
    justify-content: center;
    align-items: center;
    padding: 50px;
    font-weight: bold;
    color: rgb(226, 209, 209);
}

.qu-handler{
    width: 500px;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* justify-items: center; */
}

.quhandler .qu:first-child{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.quhandler .qu:last-child{
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.nonestyle{
    transform: none !important;
    opacity: 1 !important;
}

@media screen and (max-width:900px) {
    .firstDiv{
        height: auto;
    }

    .mafiapiccontainer{
        display: none;
    }

    .firstDiv .neveshtehandler{
        width: 100%;
        padding: 15px;
    }

    .firstDiv .neveshtehandler p:nth-child(1){
        margin-top: 50px;
        align-self: center;
        font-size: 25px;
    }

    .firstDiv .neveshtehandler p:nth-child(2){
        font-size: 15px;
    }

    .neveshte{
        margin: 20px 0 20px 0;
    }

    .playButton{
        margin-bottom: 30px;
    }

    .tozihDiv{
        flex-direction: column;
        height: 1200px;
    }

    .ezafTozih{
        flex-direction: column;
        padding-top: 0;
    }

    .aksezfe{
        width: 40%;
        margin-top: 50px;
        margin-bottom: 100px;
    }

    .ezafTozih{
        padding: 40px 0 40px 0;
    }

    .qu-handler{
        width: 100%;
        align-items: center;
    }


}