.topics{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    margin-top: 70px;
    justify-content: space-around;
    align-items: center;
    background-color: #020024;
}

.topicscontainer{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    /* height: auto; */
}

.topicscontainer .topichandler{
    display: flex;
    width: 100%;
    height: 50%;
    justify-content: space-around;
    align-items: center;
}

.topichandler div{
    display: flex;
    width: 200px;
    /* height: 300px; */
    aspect-ratio: 9/12;
    /* background-color: red; */
    border-radius: 10px;
    background-image: url("/photos/mafia-nights.jpg");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-size: 100%;
    transition: 500ms;
    /* transition: all 400ms cubic-bezier(0.645, 0.045, 0.195, 1.365); */
}

.topichandler div:hover{
    cursor: pointer;
    background-size: 125%;
}

@media screen and (max-width: 900px) {
    .topics{
        height: auto;
    }

    .topichandler{
        flex-direction: column;
    }

    .topichandler div{
        /* height: 300px; */
        margin: 30px 0 30px 0;
    }
}