.topics{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    margin-top: 70px;
    justify-content: space-around;
    align-items: center;
    background-color: #020024;
}

.topicscontainer{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    /* height: auto; */
}

.topicscontainer .topichandler{
    display: flex;
    width: 100%;
    height: 50%;
    justify-content: space-around;
    align-items: center;
}

.topichandler div{
    display: flex;
    width: 200px;
    height: 300px;
    background-color: red;
    border-radius: 10px;
}

@media screen and (max-width: 900px) {
    .topics{
        height: auto;
    }

    .topichandler{
        flex-direction: column;
    }

    .topichandler div{
        height: 300px;
        margin: 10px 0 10px 0;
    }
}